<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed top">
    <a class="navbar-brand">
      <img src="{{ url_for('static', filename='heart.png') }}" alt="Logo" width="80" height="80">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <button class="btn btn-success nav-button"><font size=5><b>Home</b></font></button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            <button class="btn btn-success nav-button"><font size=5><b>Dashboard</b></font></button>
          </a>
        </li>
      </ul>
      <div class="ml-auto">
        {% if session['username'] %}
          <p>Welcome, {{ session['username'] }}!
          <br><a href="/logout"><font color=yellow>Log Out</font></a></p>
        {% else %}
          <div class="login-box small-box">
            <h3 class="login-title"><font size="3">Log in to personalize your dashboard!</font></h3>
            <a class="login-link" href="/login"><font color=yellow>Log In</font></a>
          </div>
          <div class="register-box small-box">
            <h2 class="register-title"><font size=3>Please register below!</font></h2>
            <a class="register-link" href="/register"><font color=yellow>Register</font></a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

<div class="jumbotron text-center titleheader">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">WellnessKitchen</h1>
      </div>
    </div>
  </div>
    <font size="5">Your health, your recipes, your way!</font>
</div>

<main class="container">
  {% block body %}
  {% endblock %}
</main>

</body>
</html>

