{% extends "base.html" %}

{% block title %}
    Recipes for You
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center mb-5">Click for instructions:</h2>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-md-3 g-4">
      {% for result in results['results'] %}
      <div class="col">
        <div class="card">
          <a href="/instructions/{{ result['id'] }}">
            <img src="{{ result['image'] }}" class="card-img-top recipe-image" alt="{{ result['title'] }}">
            <div class="card-body">
              <h5 class="card-title">{{ result['title'] }}</h5>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}