{% extends "base.html" %}

{% block body %}

  <h1>Eat well, live well, and thrive!</h1>

  <form action="/health" method="post">
    <label for="health-condition">Select a health condition:</label>
    <select id="health-condition" name="condition">
      <option value="diabetes">Diabetes</option>
      <option value="hypertension">Hypertension</option>
      <option value="heart_health">Heart Health</option>
      <option value="anemia">Anemia</option>

      <!-- add more health condition options later on -->

    </select>
    <br><br>
    <input type="submit" value="Search">
  </form>
{% endblock %}





