{% extends "base.html" %}

{% block body %}

  <h1>Eat well, live well, and thrive!</h1>

  <br><br>

  <form action="/health" method="post">
    <label for="health-condition">Select a health condition:</label>
    <select id="health-condition" name="condition">
      <option value="diabetes">Diabetes</option>
      <option value="hypertension">Hypertension</option>
      <option value="heart_health">Heart Health</option>
      <option value="anemia">Anemia</option>

      <!-- add more health condition options later on -->

    </select>
    <br><br>
    <input type="submit" value="Search">
  </form>

  <br><br><br><br><br><br>
  

  {% if current_user.is_authenticated %}
  <p>Welcome, {{ current_user.username }}! <a href="/logout">Log Out</a></p>
{% else %}
<div class="login-box">
  <h2 class="login-title">Already have an account? Log in to access your personal dashboard!  </h2>
  <a class="login-link" href="/login">Log In</a>
</div>
<div class="register-box">
  <h2 class="register-title">Do not have an account? Please register below!</h2>
  <a class="register-link" href="/register">Register</a>
{% endif %}
{% endblock %}





