{% extends "base.html" %}
{% block body %}
  <title>Recipe Details</title>

  <h1>{{ results.title }}</h1>
  <img src="{% if results.image %}{{ results.image }}{% endif %}" class="recipe-image">

  <h2>Ingredients:</h2>
  <ul>
    {% for ingredient in results.extendedIngredients %}
      <li>{{ ingredient.original }}</li>
      {% if not loop.last %}
        <br>
      {% endif %}
    {% endfor %}
  </ul>
  <br>
  <br>

  <h3>Instructions:</h3>
  <ol class="instructions-list">
    {% for instruction in results.analyzedInstructions[0].steps %}
      <li><b>{{ instruction.step }}</b></li>
      {% if not loop.last %}
        <br>
      {% endif %}
    {% endfor %}
  </ol>

  <h3>Prep Time:</h3>
  <p>{{ results.readyInMinutes }} minutes</p>

  <h4>Servings:</h4>
  <p>{{ results.servings }}</p>
    
{% endblock %}
