{% extends "base.html" %}
{% block body %}
  <title>Recipe Details</title>

  <h1>{{ results.title }}</h1>
  <img src="{% if results.image %}{{ results.image }}{% endif %}">

  <h2>Ingredients:</h2>
  <ul>
    {% for ingredient in results.extendedIngredients %}
      <li>{{ ingredient.original }}</li>
    {% endfor %}
  </ul>

  <h3>Instructions:</h3>
  <ol>
    {% for instruction in results.analyzedInstructions[0].steps %}
      <li><b>{{ instruction.step }}</b></li>
    {% endfor %}
  </ol>

  <h3>Prep Time:</h3>
  <p>{{ results.readyInMinutes }} minutes</p>

  <h4>Servings:</h4>
  <p>{{ results.servings }}</p>
    
{% endblock %}
